@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



div#menubtn{
    
    display: block;
    text-align: center;
    padding-top: 0.65em;
    color: rgb(54, 54, 167) ;
    background-color:  rgba(245, 247, 245, 0.938);
    padding-bottom: 0.55em;
}
.material-symbols-outlined{
    font-size: 36px;
}

div#title{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(54, 54, 167);
    width: 100%;   
    color: white;
    text-align: center;
    padding-top: 1.1em;
    padding-bottom: 1.7em;
   
}

h1{
    font-size: 36px;
    text-align: center;
    display: inline;
    
}

div#menubtn:hover{
    cursor: pointer;
    background-color:  rgba(238, 237, 238, 0.938);
    border: 1px solid white;
    
}

.hide{
    display: none;
}

div#menu{
    margin:20px 0px 0px 0px ;
    
}

.open{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    width: 100%;
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
    padding-bottom: 1em;
    
}

div#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 40px;
    gap: 3.7em;

}




h2{
    font-size: 36px;
    margin: 25px 5px;
    font-family: 'Kanit', sans-serif;
    color: rgb(50, 50, 151);
}

h3{
    font-size: 24px;
    margin: 18px 0px;
    

}
h4{
    font-size: 18px;
}

p{
    margin: 15px 0px;
}



a{
    font-size: 22px;
    margin: 5px 5px 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid  rgba(50, 51, 167, 0.774);
    padding: 10px;
    color: rgba(47, 49, 165, 0.938) ;
   
}

a:hover{
    transition: 200ms;
    border-right: 5px solid  rgb(50, 50, 167) ;
    background-color: rgba(244, 246, 244, 0.897);

}






footer{
    margin-top: 8em;
    background-color: rgb(54, 54, 167);
    width: 100%;
    
}

p.footerp{
    margin: 10px 0px;
}

div#B06{
    text-align: center;
    padding: 10px;
    color: white;
    
}



@media(min-width: 800px){
    div#menu{
        display: block;
        text-align: center; 
        margin: 30px 0px 0px 0px; 
        width: 100%;
        background-color: white;
        position: relative;
        
       
        
      
       
        
         
    }

    a{
        padding: 10px 24px;
        margin: 2px 1vw;
        text-decoration: none;
        color: rgb(50, 50, 151);
        font-size: 25px;
        border-radius: 6px;
        box-shadow: 0.2px 1px 1px rgba(48, 48, 48, 0.322);
        
    }

    a:hover{
        background-color: rgba(233, 233, 233, 0.411);
        transition: 150ms;
        border-bottom: 3px solid rgb(50, 50, 151) ;
    }

    div#menubtn{
        display: none;
    }

   div#main{
    margin: 20px 12vw;
   }

}

@media(min-width: 1400px) {

    div#main{
        margin: 20px, 22vw;
    }
}

@media(max-width: 450px) {
    h1{
        font-size: 30px;
        
    }
    div#title{
        padding-top: 1.4em;
        height: 42px;

    }
    div#menubtn{
        padding-top: 0.5em;
    }
    .material-symbols-outlined{
        font-size: 32px;
    }


}